@import "tailwindcss";

@layer utilities {
  .font-inter {
    font-family: 'Inter', sans-serif;
  }

  .font-mono-jet {
    font-family: 'JetBrains Mono', monospace;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(17, 24, 39);
  color: white;
}